.test-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-list h2 {
  font-size: 1.5rem;
}

.test-list ul {
  list-style-type: none;
  padding: 0;
}

.test-list li {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .test-list {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  .test-list li {
    width: calc(33.33% - 20px); /* Adjust based on the number of columns you want */
    margin-right: 10px; /* Add spacing between items */
    text-align: center;
  }
}
