.landing-page {
    padding: 20px;
    text-align: center;
  }
  
  .welcome-message {
    margin-bottom: 40px;
  }
  
  .welcome-message h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .login-options,
  .registration-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login-button,
  .registration-link {
    display: block;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button.teacher {
    background-color: #007bff;
  }
  
  .login-button.student {
    background-color: #28a745;
  }
  
  .registration-link.teacher {
    color: #007bff;
  }
  
  .registration-link.student {
    color: #28a745;
  }
  
  /* Hover effects */
  .login-button:hover,
  .registration-link:hover {
    opacity: 0.8;
  }
  