.file-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.file-list ul {
  list-style-type: none;
  padding: 0;
}

.file-list li {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .file-list {
    padding: 40px;
  }

  .file-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .file-list li {
    margin-bottom: 15px;
    width: 50%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; 
  }
}
